/* ==========================================================================
   Site styles
   ========================================================================== */

.header {
    color: #000000;
    background-color: #E6E6E6;
}
.inner {
    padding: 90px 35px 35px 25px;
}
.title {
    text-transform: uppercase;
    color: #828292;
    text-shadow: 0px 2px 0px #FAFAFA;
    margin: 0 0;
}
.content {
    background-color: $black;
    color: $green;
}
.wrapper {
    margin: 0 0;
    padding: 0 0;
}
.keyword {
    color: $blue;
    display: inline;
}
.tracktitle {
    color: $pink;
    &:hover {
        color: lighten( $pink, 8% )
    }
}
.track {
    padding: 2.5em 1em;
    border-bottom: 1px solid $highlight;
    transition: all .12s ease-in;
    list-style-type: none;
    &:hover {
        background: $highlight;
        padding-left: 1.8em;
    }
}
.authorlink {
    color: $yellow;
    &:hover {
        color: lighten( $yellow, 8% )
    }
}
a {
    text-decoration: none;
}
p {
    margin: 0 0;
}

/* Medium and Up - Targets everything larger than mobile
   ========================================================================== */

@include break(medium-and-large) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25%;
        margin-bottom: 0;
    }
    .inner {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 40px;
    }
    .content {
        width: 75%;
        margin-left: 25%;
        .block {
            padding-left: 30px;
        }
    }
}

/* Medium - only targets 1st breakpoint. Styles
   ========================================================================== */

@include break(medium) {}

/* Large - only targets 2nd breakpoint.
   ========================================================================== */

@include break(large) {}
