
/* Type ========================================================================== */

header {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
.content {
  font-family: 'Inconsolata';
}
.title {
  text-transform: uppercase;
  color: #828292;
  text-shadow: 0px 2px 0px #FAFAFA;
  margin: 0 0;
}

/* Scale ========================================================================= */
p {
    font-size: 14px;
}
h1, .f1 {
    font-size: 64px;
}
h2, .f2 {
    font-size: 48px;
}
h3, .f3 {
    font-size: 32px;
}
h4, .f4 {
    font-size: 24px;
}
h5, .f5 {
    font-size: 20px;
}
h6, .f6 {
    font-size: 16px;
}
small, .small {
    font-size: 12px;
}
