/* ==========================================================================
   VARIABLES
   ========================================================================== */

$black: #272822;
$pink : #F92772;
$blue : #5AD6EF;
$green: #A6E22A;
$yellow: #E6DB6F;

$highlight: #39382E;
