<ul class="wrapper">
    {{#each tracks}}
    <li class="track">
        <p class="keyword">the</p>
        <a href="{{trackUrl}}" class="tracktitle" target="_blank">{{title}}_Track</a>
        <p>Author: <a href="{{authorUrl}}" class="authorlink" target="_blank">{{author}}</a>
        </p>
        <p></p>
    </li>
    {{/each}}
</ul>
